// Define variables for your color scheme
$dark-gray: #4D4D4D;
$light-gray: #C4C4C4;
$dark-tale: #2B383F;
$darker-tale: #152229;
$white:   #FFFFFF;
$black: #000000;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
