// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

// Define fonts for body and headers
$arkham-font: "IM Fell English SC", "serif";
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// font sizes
$arkham-font-size-XXL: 62px;
$arkham-font-size-XL: 40px;
$arkham-font-size-L: 32px;
$arkham-font-size-M: 28px;
$arkham-font-size-S: 23px;
$arkham-font-size-XS: 20px;
$standard-size-font: 18px;

// font styling
.arkham-font-tale {
  font-family: $arkham-font;
  color: #2B383F;
}

.bold-font {
  font-weight: bold; 
}

//Device = Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {
  .media-font-size-medium {
    font-size: $arkham-font-size-S;
  }
  .media-font-size-small {
    font-size: $arkham-font-size-XS;
  }
}

//Device = Low Resolution Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) {
  .media-font-size-medium {
    font-size: $arkham-font-size-M;
  }
}

//Device = Tablets, Ipads (landscape)
@media (min-width: 768px) and (max-width: 1024px) {
  .media-font-size-medium {
    font-size: $arkham-font-size-M;
  }
}
