.token-box {
  background-color: $dark-tale;
  width: 1000px;
  height: 200px;

  margin: 25px 0 0 50px;
}

.new-investigator {
  padding-left: 15px;
}

.scenario-name {
  padding: 0 15px;
  margin-bottom: 0;
}
