.token-box {
  background-color: $dark-tale;
  width: 1000px;
  height: 200px;

  margin: 25px 0 0 50px;
}

.new-investigator {
  padding-left: 15px;
}

.margin-bottom {
  margin-bottom: 0;
}

.icon-padding-right {
  padding-right: 15px;
}

.icon-padding-left {
  padding-left: 15px;
}