// Specific CSS for your home-page
.homepage-banner {
  background-size: cover;
  background-position: center;
  // https://www.artstation.com/artwork/KvoKW
  height: calc(100vh - $navbar-height);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: $arkham-font;
  font-size: 62px;
  color: $white;

  margin-top: 70px;
}

.homepage-banner ul {
  list-style: none;

  margin-top: 100px;
  padding-left: 0;
}

.arkham-bullet {
  font-family: $arkham-font;
  font-size: 42px;
  color: $white;
}

//Device = Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {
  .heading {
    font-size: 22px;

    margin-top: 90px;
  }
  .homepage-banner ul {
    margin-top: 70px;
  }
  .arkham-bullet {
    font-family: $arkham-font;
    font-size: 18px;
  }
}

//Device = Low Resolution Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) {
  .heading {
    font-size: 36px;

    margin-top: 100px;
  }
  .homepage-banner ul {
    margin-top: 50px;
  }
  .arkham-bullet {
    font-family: $arkham-font;
    font-size: 28px;
  }
}

//Device = Tablets, Ipads (landscape)
@media (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 52px;
  }
  .homepage-banner ul {
    margin-top: 50px;
  }
  .arkham-bullet {
    font-family: $arkham-font;
    font-size: 36px;
  }
}




