<div class="homepage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "tree.jpg" %>);">
  <div class="container">
    <h1>Pages#home</h1>
    <h2><%= link_to "View your campaigns", campaigns_path %></h2>
  </div>
</div>




