<div class="homepage-banner" style="background-image: url(<%= image_path "background.png"%>);">
    <h1 class="heading">ARKHAM HORROR GUIDE</h1>
    <ul>
      <li><%= link_to "View your campaigns", campaigns_path, class: "arkham-bullet" %></li>
    </ul>
</div>
