<div class="standard-container">
  <%= link_to campaign_path(@campaign) do %>
    <i class="fas fa-arrow-circle-left link-icon"></i>
    <span class="back-link-text">Back</span>
  <% end %>
  <div class="margin-top">
    <%= simple_form_for [@campaign, @scenario] do |f| %>
      <%= f.input :completed, label: "Completed?" %>
      <%= f.submit "Update Scenario", class: "button-tale" %>
    <% end %>
  </div>
</div>
