.button-tale {
  color: $white;
  padding: $button-padding;
  border-radius: 4px;
  background: $dark-tale;
  transition: background 0.3s ease;

  &:hover {
    background: $darker-tale;
    color: $white;
  }
}

a:hover {
  text-decoration: none;
}

.button-frame {
  color: $dark-tale;
  padding: $button-padding;
  border-radius: 4px;
  border: solid $dark-tale 1px;
}

//Device = Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {
  .button-frame {
    padding: $button-padding-responsive;
    margin: 30px 0 10px 0;
  }
  .button-tale {
    padding: $button-padding-responsive;
  }
}