.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $dark-tale;
  font-family: $arkham-font;
  padding: $navbar-padding;
}

.standard-container {
  padding: 40px 40px;
}

.headline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.investigator-container {
  display: flex;
  flex-direction: column;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.investigator-info-container {
  padding-top: 10px;
}

.campaign-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

//Device = Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {
  .nav-container {
    padding: 5px 15px;
  }
  .standard-container {
    padding: 20px 20px;
  }
  .headline-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .investigator-container {
    display: flex;
    flex-direction: column;
  }
}

//Device = Low Resolution Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) {
  .nav-container {
    padding: 5px 15px;
  }
  .standard-container {
    padding: 20px 20px;
  }
  .headline-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}
