.nav-link {
  color: $white;
  font-size: 24px;
}

.no-link-style-white {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $white;
  }
}

.no-link-style-black{
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.underlined-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.link-icon {
  color: $dark-tale;
}

.back-link-text {
  color: $darker-tale;
  padding-left: 5px;
  margin: 0;
}
