.no-link-style-white {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $white;
  }
}

.no-link-style-black{
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.underlined-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.link-icon {
  color: $dark-tale;
}