.navbar {
  height: $navbar-height;
}

.navbar-lewagon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $dark-tale;
  font-family: $arkham-font;
  padding: 5px 25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
}

.dropdown-item {
  font-size: 18px;
}

//Device = Most of the Smartphones Mobiles (Portrait) and Tablets
@media (min-width: 320px) and (max-width: 767px) {
  .navbar-lewagon .navbar-brand img {
    width: 120px;
  }
  .avatar {
    display: none;
  }
  .navbar-toggler {
    padding: 2px 6px;
  }
  .navbar-nav {
    background-color: $white;
    padding: 5px 0 5px 10px;
    margin-top: 3px;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: $black;
  }
}

