.navbar-lewagon {
  justify-content: space-between;
  background: $dark-gray;
  font-family: $logo-font;
  padding: 8px 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-light .navbar-nav .nav-link {
    color: $light-gray;
}
