.navbar-container .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 200px;
}

.nav-link-non-responsive {
  color: $white;
  font-size: 20px;

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

.nav-item-non-responsive {
  padding-left: 30px;
}

//Device = Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {
  .navbar-brand img {
    width: 150px;
  }
  .nav-link-responsive {
    color: $black;
    font-size: 16px;
  }
  .nav-item-non-responsive {
    padding-left: 0;
  }
  .navbar-collapse {
    background-color: white;
    padding: 5px 10px;
  }
  .navbar-toggler {
    padding: 2px 6px;
  }
}

@media (min-width: 481px) and (max-width: 574px) {
  .navbar-brand img {
    width: 150px;
  }
  .nav-link-responsive {
    color: $black;
    font-size: 16px;
  }
  .nav-item-non-responsive {
    padding-left: 0;
  }
  .navbar-collapse {
    background-color: white;
    padding: 5px 10px;
  }
  .navbar-toggler {
    padding: 2px 6px;
  }
}

//Device = Tablets, Ipads (landscape)
@media (min-width: 575px) and (max-width: 767px) {
  .navbar-brand img {
    width: 150px;
  }
  .nav-link-responsive {
    color: $black;
    font-size: 18px;
  }
  .nav-item-non-responsive {
    padding-left: 0;
  }
  .navbar-collapse {
    background-color: white;
    padding: 5px 10px;
  }
  .navbar-toggler {
    padding: 2px 6px;
  }
}

