<div class="campaigns-container">
  <div class="campaigns-headline">
    <h1 class="arkham-font-tale">Your Campaigns</h1>
    <a class="button-tale" href="#">Hide completed</a>
  </div>
  <div class="cards">
    <% @campaigns.each do |campaign| %>
      <div class="card-category">
        <%= link_to campaign_path(campaign), class:"no-link-style-black" do %>
        <h2 style="text-align: center;" class="arkham-font-tale"><%= campaign.name %></h2>
        <h5>Players</h5>
        <% campaign.investigators.each do |investigator| %>
          <p><%= "#{investigator.player_name}: #{investigator.name}"%></p>
        <% end %>
        <h5>Current Scenario</h5>
        <!-- add name of current scenario -->
        <% end %>
        <h5>Next Scenario</h5>
        <!-- add name of next scenario -->
      </div>
    <% end %>
  </div>
</div>
