<div class="standard-container">
  <%= link_to campaign_path(@campaign) do %>
    <i class="fas fa-arrow-circle-left link-icon"></i>
    <span class="back-link-text">Back</span>
  <% end %>
  <div class="margin-top">
    <%= simple_form_for [@campaign, @campaign_log_entry] do |f| %>
      <%= f.input :content, label: "Entry" %>
      <%= f.submit "Update campaign log entry", class: "button-tale" %>
    <% end %>
  </div>
</div>